<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.core.trade.dao.mapper.TradeMapper">
    <resultMap id="trade" type="com.lab.core.trade.entity.Trade">
        <id     column="id"                     property="id"                   javaType="java.lang.Long"/>
        <result column="trade_id"               property="tradeId"              javaType="java.lang.String"/>
        <result column="title"                  property="title"                javaType="java.lang.String"/>
        <result column="status"                 property="status"               typeHandler="StatusTypeHandler"/>
        <result column="type"                   property="type"                 typeHandler="TradeTypeHandler"/>
        <result column="pay_type"               property="payType"              typeHandler="PayTypeHandler"/>
        <result column="price"                  property="price"                javaType="java.lang.Long"/>
        <result column="total_fee"              property="totalFee"             javaType="java.lang.Long"/>
        <result column="prepaid_fee"            property="prepaidFee"           javaType="java.lang.Long"/>
        <result column="kd_type"                property="expressType"          typeHandler="ExpressTypeHandler"/>
        <result column="wx_no"                  property="wxNo"                 javaType="java.lang.String"/>
        <result column="trade_memo"             property="tradeMemo"            javaType="java.lang.String"/>
        <result column="take_over_time"         property="takeOverTime"         javaType="java.util.Date"/>
        <result column="order_number_time"      property="orderNumberTime"      javaType="java.util.Date"/>
        <result column="appoint_delivery_time"  property="appointDeliveryTime"  javaType="java.util.Date"/>
        <result column="date_created"           property="dateCreated"          javaType="java.util.Date"/>
        <result column="last_updated"           property="lastUpdated"          javaType="java.util.Date"/>
    </resultMap>
</mapper>