<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                               "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>

    <settings>
        <setting name="cacheEnabled"              value="true"/>
        <setting name="lazyLoadingEnabled"        value="true"/>
        <setting name="aggressiveLazyLoading"     value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel"            value="true"/>
        <setting name="defaultStatementTimeout"   value="25000"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.apache.ibatis.type.EnumTypeHandler"                       alias="EnumTypeHandler"/>
        <typeAlias type="org.wah.doraemon.utils.mybatis.handler.AccountStateHandler"   alias="AccountStateHandler"/>
        <typeAlias type="org.wah.doraemon.utils.mybatis.handler.SexHandler"            alias="SexHandler"/>
        <typeAlias type="org.wah.doraemon.utils.mybatis.handler.UsingStateHandler"     alias="UsingStateHandler"/>
        <typeAlias type="com.oms.core.trade.utils.handler.ExpressTypeHandler"          alias="ExpressTypeHandler"/>
        <typeAlias type="com.oms.core.trade.utils.handler.PayTypeHandler"              alias="PayTypeHandler"/>
        <typeAlias type="com.oms.core.trade.utils.handler.StatusTypeHandler"           alias="StatusTypeHandler"/>
        <typeAlias type="com.oms.core.trade.utils.handler.OrderStatusTypeHandler"      alias="OrderStatusTypeHandler"/>
        <typeAlias type="com.oms.core.trade.utils.handler.OrderStateTypeHandler"       alias="OrderStateTypeHandler"/>
        <typeAlias type="com.oms.core.trade.utils.handler.TradeTypeHandler"            alias="TradeTypeHandler"/>
    </typeAliases>
</configuration>